<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400|Noteworthy|Quicksand' rel='stylesheet' type='text/css'>
    <title><%= @meta.title %></title>
    <meta name="description" content="<%= @meta.description %>">
    <%= render 'vocal/shared/twitter_card' %>
    <%= render 'vocal/shared/facebook_open_graph' %>
    <%= stylesheet_link_tag    "vocal/application", media: "all" %>
    <%= javascript_include_tag "vocal/application" %>
    <%= csrf_meta_tags %>
    <%= render partial: 'vocal/shared/google_analytics' %>
    <%= rss_head_link %>
  </head>
  <body>
    <header>
      <div class='rss'>
        <%= link_to feed_url do %>
          <i class="fi-rss"></i>
        <% end %>
      </div>

      <div class='social-links'>
        <% if Vocal.config.theme.default.has_key?(:github_url) %>
          <a href="<%= Vocal.config.theme.default.github_url %>">
            <i class="fi-social-github"></i>
          </a>
        <% end %>
        <% if Vocal.config.theme.default.has_key?(:twitter_url) %>
          <a href="<%= Vocal.config.theme.default.twitter_url %>">
            <i class="fi-social-twitter"></i>
          </a>
        <% end %>
        <% if Vocal.config.theme.default.has_key?(:linked_in_url) %>
          <a href="<%= Vocal.config.theme.default.linked_in_url %>">
            <i class="fi-social-linkedin"></i>
          </a>
        <% end %>
        <% if Vocal.config.theme.default.has_key?(:google_plus_url) %>
          <a href="<%= Vocal.config.theme.default.google_plus_url %>">
            <i class="fi-social-google-plus"></i>
          </a>
        <% end %>
      </div>

      <h1><a href="/"><%= Vocal.config.meta.title %></a></h1>
      <h2><%= Vocal.config.meta.subtitle %></h2>
    </header>

    <div id="main-container">
      <div id="content">
        <%= yield %>
      </div>
    </div>

  <%= render partial: 'vocal/shared/disqus_js' %>
  </body>
</html>
